@import '../../../variables';

.container {
  width: $container-size;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .container {
    width: auto;
    padding: 20px;
    margin: 0;
  }
}