// SIZES
$container-size: 1200px;

// COLORs
$lightgray: #E7E7E7;
$mainblack: #363636;
$lightblack: #6b6b6b;
$danger: #a52848;

// INPUT STATE

$input-default-color: #E5E5E5;
$input-hover-color: #393939;

// SHADOWS

$box-shadow: rgba(187, 187, 187, 0.25);
$box-shadow-hover: rgba(187, 187, 187, 0.5);

// FONT SIZES (in px)
$headline-1: 48px;
$headline-2: 36px;
$headline-3: 24px;
$headline-4: 14px;